.Asso2{
    margin-bottom: 2rem;
    p{
        text-align: center;
        color: $color-3;
        span {
        color: $color-1;
        font-weight: 700;
        }
        margin: 0px;
        padding-top: .7rem;
    }
}
.Asso1{
    margin: 0 10px 50px;
    figure{
        background-image: url(../../assets/img-asso/FigureAsso1.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: contain;
        height: 205px;
        width: 100%;
        margin: 0;
    }
    .Assowrap{
        padding: 25px 30px;
        color: #474747;
        background-color: #FAF3F3;
        h1{
            font-size: 18px;
            letter-spacing: 1px;
            font-weight: 400;
            margin-top: 0;
        }
        p{
            line-height: 1.3;
            font-size: 14px;
        }
    } 
}
@media screen and (min-width: 425px) {
    .Assowrap {
        width: 70%;
        margin: 0 auto;
    }
    .Asso1, .Asso2 {
        figure {
            border: 0;
        }
    }
}
@media screen and (min-width: 750px) {
    .Assowrap {
        width: 40%;
        margin: 0 auto;
        position: relative;
        box-shadow: -5px -5px $color-1;
        position: relative;
        left: 50%;
        transform: translate(-65%, -30%); 
    }
    .Asso1 {
        margin: 0;
        figure {
            border: 0;
            height: 300px;
            width: 400px;
            position: relative;
            left: 50%;
            transform: translate(-80%, 0%);
            background-size: cover;
            box-shadow: 5px 5px $color-2;
        }
        &:nth-of-type(odd) {
            figure {
                box-shadow: -5px 5px $color-2;
                position: relative;
                right: 50%;
                transform: translate(-20%, 0%);    
            }
            .Assowrap {
                position: relative;
                left: -65%;
                transform: translate(100%, -30%);
                box-shadow: 5px -5px $color-1;
            }
        }
    }
}