.articleAsso {
    display: flex;
	flex-direction: row;
    .figureAsso1 {
        background-position: center bottom;
        background-repeat: no-repeat;
        background-image: url("../../assets/img-asso/FigureAsso1.jpg");
        background-size: cover;
        height: 20rem;
        width: 15rem;

    }
    .Assowrap {
        margin: 2rem 0rem 0rem 1rem;
        width: 80%;
        padding: 15px 20px;
        color: $color-3;
        background-color: $color-2;
        opacity: 0.78;
        h1 {
            font-size: 18px;
            letter-spacing: 1px;
            font-weight: 400;
            margin-top: 0;
            span {
                color: $color-1;
                font-weight: 700;
            }
        }
        p {
            line-height: 1.3;
            font-size: 10px;
        }
    }
}
// .Asso1 {
//     // figure {
//     //     background-image: url("../../assets/img-asso/FigureAsso1.jpg");
//     //     background-size: contain;
//     //     width : 100vw;
//     // }
// }
