.Asso3Bis{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;

    .flip:hover{
        transform: rotateY(180deg);
    }
    .flip{
        // position: absolute;
        transform-style: preserve-3d;
        transition: all 0.5s ease;
        width: 220px;
        height: 300px;
        box-shadow: -2px -2px 2px 1px $color-1;
        margin: 1rem;
        
        .Devant{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            background-color: rgb(163, 163, 163);
        }
        .Derriere{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(163, 1, 1, 0.555);
            transform: rotateY(180deg);
        }
    }
}