.Asso3Bis{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    
    .carteP1{
        figure{
            background-color: rgb(163, 163, 163);
            width: 220px;
            height: 300px;
            margin: 0px;
            box-shadow: -2px -2px 2px 1px $color-1;
            margin: 1rem;
        }
    }
    .carteP2{
        figure{
            background-color: rgb(163, 163, 163);
            width: 220px;
            height: 300px;
            margin: 0px;
            box-shadow: -2px -2px 2px 1px $color-1;
            margin: 1rem;
        }
    }
    .carteP3{
        figure{
            background-color: rgb(163, 163, 163);
            width: 220px;
            height: 300px;
            margin: 0px;
            box-shadow: -2px -2px 2px 1px $color-1;
            margin: 1rem;
        }
    }
    .carteP4{
        figure{
            background-color: rgb(163, 163, 163);
            width: 220px;
            height: 300px;
            margin: 0px;
            box-shadow: -2px -2px 2px 1px $color-1;
            margin: 1rem;
        }
    }
    .carteP5{
        figure{
            background-color: rgb(163, 163, 163);
            width: 220px;
            height: 300px;
            margin: 0px;
            box-shadow: -2px -2px 2px 1px $color-1;
            margin: 1rem;
        }
    }
}