// *, *::before, *::after {
//     box-sizing: border-box;
// }

.table {
    margin-top: 40px;
}
table {
	border:2px solid $color-3;
    border-collapse: collapse;
    font-family: sans-serif;
    width:100vw;
}
th, td
{
	border: 2px solid #ccc;
    text-align: center;
    padding: 10px;
}
th {
    background: $color-3;
}

th h1
{
	color: $color-1;
	text-transform: uppercase;
}
tr:nth-last-child(odd)  {
    background:  #eee;
}
.cours {
    background: $color-1;
    color: $color-2;
}

.Map {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 600px 400px;
}
.Map img {
    width: 100%;
    margin-left: 10px;
}
.Map .par {
    width: 100%;
    margin-left: 10rem;
    margin-top: 10rem;
}

@media only screen and (max-width:960px) {
   .table-responsive table,
   .table-responsive thead,
   .table-responsive tbody,
   .table-responsive tr,
   .table-responsive th,
   .table-responsive td {
        display: block;
    }
    .table-responsive thead {
        display: none;
    }
    .table-responsive td {
        padding-left: 150px;
        position: relative;
        margin-top: -1px;
        background: $color-2;
    }
    .table-responsive td::before {
        padding: 10px;
        content: attr(data-label);
        position: absolute;
        left: 0;
        top: 0;
        width: 130px;
        bottom: 0;
        background: $color-2;
        color: $color-1;
        display: flex;
        align-items: center;
        font-weight: bold;
    }
    .table-responsive tr {
        margin-bottom: 1rem;
    }
    .Map {
        margin-top: 20px;
        width: 90%;
        display: block;
    }
    .Map .img {
        width: 100%;
    }
    .Map img {
        width: 100%;
        
    }
    .Map .par {
        width: 100%;
        margin-top: 15px;
    }
}