.inter, .inter2, .interhisto {
    background-color: $color-3;
    margin-top: 100px;
    padding-top: 50px;
    .center {
        background-color: $color-3;
        color: $color-2;
        padding-bottom: 50px;
        img {
            height: 80px;
            padding: 20px;
        }
        p {
            font-size: 14px;
            padding: 0 10%;
            margin: 25px auto 25px;
            max-width: 600px;
        }
     }

    }

.inter {
    .center {
        background-color: $color-3;
        color: $color-2;
        padding-bottom: 50px;
        a {
        box-shadow: 3px 4px 0px 0px $color-1;
        padding: 10px 20px;
        // position: relative;
        display: block;
        margin-left: 50%;
        width: 100px;
        text-align: center;
        text-decoration: none;
        color: $color-2;
        text-transform: uppercase;
        font-size: 12px;
        margin-top: 50px;
    }
    }
}

.inter2 {
    .contact {
        display: flex;
        margin-left: 0;
        justify-content: center;
        a {
            box-shadow: 3px 4px 0px 0px $color-1;
            padding: 10px 20px;
            // position: relative;
            display: block;
            margin-left: 0;
            width: 100px;
            text-align: center;
            text-decoration: none;
            color: $color-2;
            text-transform: uppercase;
            font-size: 12px;
            margin-top: 50px;
            margin: 25px 20px 25px;
            &:nth-of-type(2) {
                box-shadow: -3px 4px 0px 0px $color-1;

            }
        }
    }
}
.interhisto {
    margin-bottom: 50px;
    margin-top: 0;
}

@media screen and (min-width: 750px) {

    .inter {
        .center {
            a {
            margin-left: 60%;
            } 
        }
        
    }

}