
// width: calc(40% - 20px);
// $color-1: #ec9a8a;
$color-1: #5EB7B7 ;
$color-2: #FAF3F3;
$color-3: #474747;

body {
    font-family: 'Roboto', sans-serif;
    background-color:$color-3;
    margin: 0;
}
.home {
    margin: 0 auto;
    background-color: $color-3;
}
